/* Mobile (up to 600px) */
@media only screen and (max-width: 600px) {
  body {
    background-color: black;
    font-family: inter;
    overflow: hidden;
  }
  .cursor {
    display: none;
  }
  .main {
    background-image: url("../public/image/heroBlurImage.png");
    width: 100vw;
    height: 96vh;
    background-position: center;
  }

  .screenLoader {
    position: fixed;
    width: 100vw;
    z-index: 1001;
    height: 100%;
    background-color: black;
  }
  /* Navbar */
  .navbar {
    padding-top: 5px;
    font-size: 12px;
  }
  .navbar-left {
    width: fit-content;
    padding-top: 8px;
    gap: 1px;
  }
  .navbar-left > h1 {
    font-size: 15.2px;
    width: 222px;
  }
  .navbar-left > p {
    font-size: 11px;
    width: 230px;
    font-weight: normal;
    height: fit-content;
  }
  .navbar-right {
    gap: 4px;
    height: fit-content;
    flex-direction: column;
    font-size: 8px;
    width: 100%;
  }
  .navbar-right-Lcontainer {
    text-align: right;
    font-size: 8px;
  }
  .navbar-right-Lcontainer > p {
    font-size: 8px;
    /* background-color: red; */
    align-items: last end;
    text-align: right;
    width: inherit;
    color: var(--brown);
  }
  .navbar-right-Rcontainer {
    gap: 1px;
  }
  /* End Navbar */
  /* heroText */
  .heroText h1 {
    font-size: 60px;
    width: initial;
  }
  /* EndheroText */
  /* ComponentArea */
  .componentArea {
    font-size: 11px;
    padding-bottom: 12px;
    flex-direction: column;
  }
  .showOff {
    display: none;
  }

  .Containerleft {
    width: inherit;
  }
  .headingTile {
    padding-left: 4px;
    width: 100px;
  }
  /* EndComponentArea */
  .footer {
    display: flex;
    font-size: 8px;
  }
  .bottombar {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
}
