/* Mobile (up to 600px) */
@media only screen and (max-width: 600px) {
  body {
    background-color: black;
    font-family: inter;
    overflow: hidden;
  }
  .cursor {
    display: none;
  }
  .main {
    background-image: url("../public/image/heroBlurImage.png");
    width: 100vw;
    height: 93vh;
    background-position: center;
  }
  .screenLoader {
    position: fixed;
    width: 100vw;
    z-index: 1001;
    height: 100%;
    background-color: black;
  }
  /* Navbar */
  .navbar {
    padding-top: 5px;
    font-size: 12px;
  }
  .navbar-left {
    width: fit-content;
    padding-top: 8px;
    gap: 1px;
  }
  .navbar-left > h1 {
    font-size: 15.2px;
    width: 222px;
  }
  .navbar-left > p {
    font-size: 11px;
    width: 230px;
    font-weight: normal;
    height: fit-content;
  }
  .navbar-right {
    gap: 4px;
    height: fit-content;
    flex-direction: column;
    font-size: 8px;
    width: 100%;
  }
  .navbar-right-Lcontainer {
    text-align: right;
    font-size: 8px;
  }
  .navbar-right-Lcontainer > p {
    font-size: 8px;
    /* background-color: red; */
    align-items: last end;
    text-align: right;
    width: inherit;
    color: var(--brown);
  }
  .navbar-right-Rcontainer {
    gap: 1px;
  }
  /* End Navbar */
  /* heroText */
  .heroText h1 {
    font-size: 60px;
    width: initial;
  }
  /* EndheroText */
  /* ComponentArea */
  .componentArea {
    font-size: 11px;
    padding-bottom: 12px;
    flex-direction: column;
  }
  .showOff {
    display: none;
  }
  .Containerleft {
    width: inherit;
  }
  .headingTile {
    padding-left: 4px;
    width: 100px;
  }
  /* EndComponentArea */
  .footer {
    display: flex;
    font-size: 8px;
    padding-bottom: 10px;
  }
  .bottombar {
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: 100%;
    font-size: 9px;
  }
  /* new window */
  .whatContainerBox {
    padding: 0px;
    flex-direction: column;
  }
  .topContainerBox {
    width: 96vw;
    display: flex;
    justify-content: space-between;
    align-items: safe;
    padding-top: 3rem;
    padding-left: 6px;
    padding-right: 0px;
  }

  .pageOnLeftContent h1 {
    font-size: 30px;
  }
  .pageOnLeftContent p {
    width: fit-content;
  }
  .pageOnRightBtn {
    display: flex;
    justify-content: space-around;
  }
  .pageOnRightBtn::before {
    content: " close";
    font-size: 11px;
    font-family: inter;
    font-weight: bold;
    color: black;
  }
  .stackBox {
    padding: 8px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: inherit;
    height: 60vh;
    padding-bottom: 22px;
  }

  /*End new window */
  .stackBox > .stackBoxLeft {
    width: 96%;
    height: inherit;
    border-radius: 16px;
    background-color: var(--panalColor);
  }
  .stackBox > .stackBoxRight {
    width: 96%;
    height: inherit;
    border-radius: 16px;
    background-color: var(--panalColor);
  }
  .stackBoxRight > div h1 {
    font-size: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .stackBoxLeft > div h1 {
    padding-bottom: 10px;
    font-size: 30px;
    padding-left: 10px;
  }
  .stackBoxRight > div p {
    padding-left: 10px;
    font-size: 12px;
    width: fit-content;
  }
  .stackBoxLeft > div p {
    font-size: 12px;
    width: fit-content;
    padding-left: 10px;
  }
  .stackBoxLeft > h5 {
    padding-left: 20px;
    font-size: 10px;
  }
  .stackBoxRight > h5 {
    padding-left: 20px;
    font-size: 10px;
  }
  .stackBoxLeft > h5 > span {
    padding: 0px 10px;
  }
  .stackBoxRight > h5 > span {
    padding: 0px 10px;
  }
}
