@font-face {
  font-family: inter;
  src: url(../public/fonts/Inter.ttf) format(".ttf");
}
:root {
  --white: #ffffff;
  --brown: #ccccc3;
  --lightBrown: #ccccc379;
  --panalColor: #1d1d1d;
}
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 11.4px;
}
body {
  background-color: black;
  font-family: inter, sans-serif;
  overflow: hidden;
}
/* Cursor */
.cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.613);
  position: absolute;
  z-index: 1000;
  border: 2rem solid var(--panalColor);
  pointer-events: none;
  mix-blend-mode: difference;
}
.main {
  background-image: url("../public/image/heroBlurImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
}
.screenLoader {
  position: fixed;
  width: 100vw;
  z-index: 1001;
  height: 100vh;
  background-color: black;
}
.location {
  transform: translateY(50vh);
  color: var(--brown);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.line {
  position: absolute;
  bottom: 0px;
  width: 0%;
  height: 1vh;
  background-color: var(--brown);
}
/* navbar */
.navbar {
  color: var(--brown);
  width: inherit;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.navbar-left {
  height: inherit;
  width: 40vw;
  display: flex;
  flex-direction: column;
}
.navbar-left > p {
  padding-top: 2px;
  width: 318px;
  line-height: 1;
  color: var(--lightBrown);
}
.navbar-right {
  display: flex;
  justify-content: space-between;
  color: var(--brown);
  width: inherit;
  height: inherit;
}
.navbar-right-Lcontainer {
  font-size: 10px;
  text-align: left;
}
.navbar-right-Rcontainer {
  padding-right: 4px;
  display: flex;
  height: fit-content;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 7px;
  flex-direction: column;
  text-align: right;
}
.navbar-right-Lcontainer > p {
  padding-top: 2px;
  font-size: 12px;
  width: 180px;
  color: var(--lightBrown);
  font-weight: bold;
  line-height: 1;
}
a {
  color: var(--lightBrown);
  text-decoration: none;
}
a:hover {
  color: var(--brown);
}
/* circle */
/* componentArea */
.circle {
  width: 10px;
  height: 10px;
  margin: 0px;
  margin-left: 5px;
  border-radius: 10px;
}
.componentArea {
  padding-top: 0px;
  padding-bottom: 30px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: safe;
  height: initial;
  padding-left: 0px;
  padding-right: 4px;
}
.headingTile > p {
  color: var(--brown);
  font-size: 14px;
  font-weight: bold;
}
.Containerleft {
  height: inherit;
  width: 70vh;
}
.Containerright {
  height: inherit;
  width: 100%;
}
.miniContainer > .tile {
  display: flex;
  height: 30px;
  padding-left: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  justify-items: end;
  color: var(--lightBrown);
}
.miniContainer > .tile:hover {
  color: black;
  background-color: var(--brown);
}

.footer {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 11px;
  font-weight: bold;
  color: #ccccc3;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
/* bottom Bar */
.bottombar {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: initial;
  border-radius: 65px;
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  font-weight: bold;
  background-color: #ccccc3b4;
  backdrop-filter: blur(1px);
  color: black;
}
.bottombar > a {
  color: black;

  cursor: pointer;
  border-radius: 65px;
}
.bottombar p {
  padding: 15px 15px;
}
.bottombar > a:hover {
  background-color: black;
  color: var(--brown);
}
.whatContainerBox {
  display: none;

  width: 100vw;
  height: 0vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.58);
  bottom: 0;
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(18px);
  z-index: 999;
}
.topContainerBox {
  width: 96vw;
  display: flex;
  justify-content: space-between;
  align-items: safe;
}
.pageOnLeftContent > h1 {
  font-size: 66px;
  font-weight: bold;
  line-height: 1;
}
.pageOnLeftContent > p {
  padding-top: 5px;
  font-weight: bold;
  color: #1d1d1d;
  font-weight: 400;
  width: 400px;
}
.pageOnRightBtn {
  cursor: pointer;
  width: initial;
  height: fit-content;
  padding: 0px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 100;
}
.pageOnRightBtn::before {
  /* content: "\2715"; */
  content: "\2715  close";
  font-size: 16px;
  font-family: inter;
  font-weight: bold;
  color: black;
}

.stackBox {
  display: flex;
  justify-content: space-between;
  width: 96vw;
  height: 60vh;
  color: var(--brown);
  gap: 10px;
}
.stackBox > .stackBoxLeft {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: inherit;
  border-radius: 16px;
  background-color: var(--panalColor);
}
.stackBox > .stackBoxRight {
  justify-content: space-around;
  width: inherit;
  display: flex;
  flex-direction: column;
  height: inherit;
  border-radius: 16px;
  background-color: var(--panalColor);
}
.stackBoxRight > div h1 {
  font-size: 40px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.stackBoxLeft > div h1 {
  padding-bottom: 10px;
  font-size: 40px;
  padding-left: 20px;
}
.stackBoxRight > div p {
  padding-left: 20px;
  font-size: 14px;
  width: 608px;
}
.stackBoxLeft > div p {
  font-size: 14px;
  width: 608px;
  padding-left: 20px;
}
.stackBoxLeft > h5 {
  padding-left: 20px;
  font-size: 10px;
}
.stackBoxRight > h5 {
  padding-left: 20px;
  font-size: 10px;
}
.stackBoxLeft > h5 > span {
  padding: 0px 10px;
}
.stackBoxRight > h5 > span {
  padding: 0px 10px;
}

.heroText {
  padding-left: 0px;
  color: var(--brown);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroText > h1 {
  font-size: 96px;
  text-align: center;
  width: 720px;
  padding-bottom: 10px;
  line-height: 0.8;
  font-weight: black;
}
.heroText > p {
  text-align: center;
  padding-left: 4px;
  color: var(--lightBrown);
  width: 30rem;
}
